
html {
  background-color: #141414;
  overflow: hidden;
}

body {
  width:100%;
  height:100%;
}

.center{ 
  font-family: "Poppins";
  margin: auto;

  position: fixed;
  left: 0;
  bottom: 0;

  padding-bottom: 10em;
  padding-left: 10em;

  width:fit-content;
  background: #141414;
  
  * {
    color: #e6e6dd;
  }
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;          
}

a:hover{
  text-decoration: underline;               
}

.name {
  font-size:9em;
}


