<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,800;1,100&display=swap" rel="stylesheet">
  <title>tim k schmidt</title>
  <link id="stylesheet" 
  rel="stylesheet" 
  type="text/css" 
  href="base.css">
</head>

<body>
  <div class="center">
  
  <div class="name">
  <b> Sarah's Midnight Snack </b>
  </div>
  
  <div class="link">
  <a href=""> portfolio</a>
  </div>
  
  <div class="link">
  <a href=""> contact </a>
  </div>
  
  
  <div class="link">
  <a href=""> FAQ </a>
  </div>
  
  </div>
</body>


